/* css/utilities/_helpers.css */
.hidden {
  display: none !important;
}
.hidden-initial {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

/* Transición para el cambio de vista */
#schedule-content,
#extra-services-view {
  transition: opacity 0.5s ease-in-out;
<<<<<<< HEAD
}
#schedule-content.fade-out,
#extra-services-view.fade-out {
  opacity: 0;
}

/* Clase para ocultar visualmente un elemento pero mantenerlo accesible para lectores de pantalla */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
=======
}
#schedule-content.fade-out,
#extra-services-view.fade-out {
  opacity: 0;
}
>>>>>>> 96c3d57486e4f06bd38451d4c921030c59481b33
