/* css/base/_typography.css */

body {
  font-family: var(--font-primary);
  font-size: var(--text-base);
  line-height: var(--leading-normal);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
h1 {
=======
h1,
h2,
h3,
h4,
h5,
h6 {
>>>>>>> 96c3d57486e4f06bd38451d4c921030c59481b33
  margin: 0 0 var(--space-2) 0;
  line-height: var(--leading-tight);
  color: #07096b;
  font-weight: 600; /* SemiBold por defecto */
}

<<<<<<< HEAD
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 var(--space-2) 0;
  line-height: var(--leading-tight);
  color: #07096b;
  font-weight: 600; /* SemiBold por defecto */
}

=======
>>>>>>> 96c3d57486e4f06bd38451d4c921030c59481b33
h1 {
  font-size: var(--text-xl);
} /* 24px */
h2 {
  font-size: var(--text-lg);
} /* 18px */
h3 {
  font-size: var(--text-base);
  font-weight: 500;
} /* 16px Medium */
h4 {
  font-size: var(--text-sm);
} /* 14px */

p {
  margin: 0 0 var(--space-2) 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color var(--transition-fast);
}

a:hover {
  text-decoration: underline;
  color: var(--color-primary-hover);
}

label {
  font-size: var(--text-sm);
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
}
